{
  "prototype-web/src/**/*.{ts,tsx}": [
    "npx eslint --fix",
    "npx prettier --write"
  ],
  "packages/api/src/**/*.ts": [
    "npx prettier --write"
  ],
  "packages/shared/src/**/*.ts": [
    "npx prettier --write"
  ]
}
